*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// html.dark {
//     background-color: $black;
//     color: $light-gray-2;
// }

// html {
//     background: $light-gray-2;
//     color: $black;
//     transition: background-color 0.5s ease-in, color 0.5s ease-in;
// }

/* Dark mode */
// html.dark {
//     background-color: $black;
//     color: $light-gray-2;
// }

html,
body {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is.
    font-size: 62.5%; // 1rem = 10px;
    font-style: normal;
    font-weight: normal;
}

body {
    font-size: $default-font-size-mobile;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;

    @media #{$mq-medium} {
        font-size: $default-font-size;
        max-width: 1000px;
    }
}

table {
    border-collapse: collapse;
    caption-side: bottom;
}