.players {
    &-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        border-right: 1px solid transparent;
        width: 95%;
        z-index: 10;
    }
}
