.players {
    &-container {
        position: fixed;
        top: 0;
        left: -95%;
        bottom: 0;
        transition: all 0.6s ease;

        &.open {
            left: 0;
            border-right: 1px solid;
            width: 95%;
            z-index: 10;
        }
    }
}
