.btn {
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding: 0px 3rem;
    text-decoration: none;
    cursor: pointer;
    height: 6rem;
    width: 100%;
    font-size: 2.5rem;

    svg {
        margin-left: 2rem;
    }

    &:hover {
        color: currentColor;
    }

    &-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;

        &:hover {
            background-color: darken($primary-color, 8%);
            border-color: darken($primary-color, 10%);
            color: $white;
        }

        &:active,
        &:active:hover,
        &:focus,
        &:active:focus {
            background-color: darken($primary-color, 4%);
            border-color: darken($primary-color, 5%);
            color: $white;
        }

        &-outline {
            background-color: transparent;
            border-color: $primary-color;
            color: $primary-color;

            &:hover,
            &:active,
            &:active:hover,
            &:focus,
            &:active:focus {
                background-color: $primary-color;
                color: $white;
            }
        }
    }

    &-success {
        border-color: $success-color;
        background-color: $success-color;
        color: $white;

        &:link,
        &:visited {
            color: $white;
        }

        &:hover,
        &:active,
        &:active:hover,
        &:focus,
        &:active:focus,
        &-inverted {
            background-color: darken($success-color, 8%);
            border-color: darken($success-color, 10%);
            color: $white;
        }

        &-outline {
            background-color: transparent;
            border-color: $success-color;
            color: $success-color;

            &:hover,
            &:active,
            &:active:hover,
            &:focus,
            &:active:focus {
                background-color: $success-color;
                color: $white;
            }
        }
    }

    &-info {
        border-color: $info-color;
        background-color: $info-color;
        color: $white;

        &:link,
        &:visited {
            color: $white;
        }

        &:hover,
        &:active,
        &:active:hover,
        &:focus,
        &:active:focus,
        &-inverted {
            background-color: darken($info-color, 8%);
            border-color: darken($info-color, 10%);
            color: $white;
        }

        &-outline {
            background-color: transparent;
            border-color: $info-color;
            color: $info-color;

            &:hover,
            &:active,
            &:active:hover,
            &:focus,
            &:active:focus {
                background-color: $info-color;
                color: $white;
            }
        }
    }

    &-warning {
        border-color: $warning-em;
        background-color: $warning-em;
        color: $black;
    
        &:link,
        &:visited {
            color: $black;
        }
    
        &:hover,
        &:active,
        &:active:hover,
        &:focus,
        &:active:focus,
        &-inverted {
            background-color: darken($warning-em, 8%);
            border-color: darken($warning-em, 10%);
            color: $black;
        }
    
        &-outline {
            background-color: transparent;
            border-color: $warning-em;
            color: $warning-em;
    
            &:hover,
            &:active,
            &:active:hover,
            &:focus,
            &:active:focus {
                background-color: $warning-em;
                color: $black;
            }
        }
    }    &:active {
        transform: scale(0.9);
    }

    @media #{$mq-medium} {
        // height: 3.5rem;
        width: 25rem;
        display: block;
        margin: auto;
    }
}
