.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    padding: 3.5rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    z-index: 10;

    &-danger {
        background-color: $danger-bg;
        border-color: darken($danger-bg, 10%);
        color: $danger;
    }

    &-success {
        background-color: #d1e7dd;
        border-color: #badbcc;
        color: #0f5132;
    }

    &-info {
        color: #055160;
        background-color: #cff4fc;
        border-color: #b6effb;
    }

    &-warning {
        background-color: $warning;
        color: $black;

        em {
            color: $warning-em;
            font-weight: 700;
        }
    }

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
}
