.container-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    width: 42rem;
    margin: auto;

    
    .stat {
        background-color: $black;
        color:$white;
        display: flex;
        flex: 0 0 20rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        text-align: center;
        font-size: 1.4rem;
        box-shadow: 0 2px 10px rgba(0,0,0,0.6);

        span {
            display: inline-block;
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 3px;
        }
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
        .stat {
            background-color: $white;
            color: $black;
            box-shadow: none;
            
        }
    }
}

