@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Variables */
:root {
    --primary-color: #c5050c;
    --white: #fff;
    --black: #000;
}

/* Base Styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is */
    font-size: 62.5%;
    font-style: normal;
    font-weight: normal;
}

html,
body {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
    background: var(--white);
    color: var(--black);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    position: relative;
    font-style: 1.6rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Button Styles */
.btn {
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

/* Utility Classes */
.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 1rem !important;
}

.mt-1,
.my-1 {
    margin-top: 1rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 1rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 1rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 1rem !important;
}

.m-2 {
    margin: 2rem !important;
}

.mt-2,
.my-2 {
    margin-top: 2rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 2rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 2rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 2rem !important;
}

.m-3 {
    margin: 3rem !important;
}

.mt-3,
.my-3 {
    margin-top: 3rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 3rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 3rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 3rem !important;
}

.m-4 {
    margin: 4rem !important;
}

.mt-4,
.my-4 {
    margin-top: 4rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 4rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 4rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 4rem !important;
}

.m-5 {
    margin: 5rem !important;
}

.mt-5,
.my-5 {
    margin-top: 5rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 5rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 5rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 5rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 1rem !important;
}

.pt-1,
.py-1 {
    padding-top: 1rem !important;
}

.pr-1,
.px-1 {
    padding-right: 1rem !important;
}

.pb-1,
.py-1 {
    padding-bottom: 1rem !important;
}

.pl-1,
.px-1 {
    padding-left: 1rem !important;
}

.p-2 {
    padding: 2rem !important;
}

.pt-2,
.py-2 {
    padding-top: 2rem !important;
}

.pr-2,
.px-2 {
    padding-right: 2rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 2rem !important;
}

.pl-2,
.px-2 {
    padding-left: 2rem !important;
}

.p-3 {
    padding: 3rem !important;
}

.pt-3,
.py-3 {
    padding-top: 3rem !important;
}

.pr-3,
.px-3 {
    padding-right: 3rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 3rem !important;
}

.pl-3,
.px-3 {
    padding-left: 3rem !important;
}

.p-4 {
    padding: 4rem !important;
}

.pt-4,
.py-4 {
    padding-top: 4rem !important;
}

.pr-4,
.px-4 {
    padding-right: 4rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 4rem !important;
}

.pl-4,
.px-4 {
    padding-left: 4rem !important;
}

.p-5 {
    padding: 5rem !important;
}

.pt-5,
.py-5 {
    padding-top: 5rem !important;
}

.pr-5,
.px-5 {
    padding-right: 5rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 5rem !important;
}

.pl-5,
.px-5 {
    padding-left: 5rem !important;
}

.m-auto {
    margin: auto !important;
}

.my-auto,
.mt-auto {
    margin-top: auto !important;
}

.my-auto,
.mb-auto {
    margin-bottom: auto !important;
}

.mx-auto,
.ml-auto {
    margin-left: auto !important;
}

.mx-auto,
.mr-auto {
    margin-right: auto !important;
}
