@import "sass/abstracts/variables";
@import "sass/base/base";
@import "sass/components/forms";
@import "sass/components/button";
@import "sass/components/messages";
@import "sass/base/utilities";
@import "sass/layout/container";
@import "sass/pages/stats";
@import "sass/pages/playgame";

.toggle {
    &__btn {
        &-container {
            padding-left: 1rem;
            display: flex;
            align-items: center;
            margin-top: 2rem;
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
